header, footer{
  background-color: grey;
  height:  150px;
  text-align: center;
}
header{
  margin-bottom: 3px;
}

div{
  display: inline-block;
  position: relative;
}


.green{
  background-color: green;
  position: absolute;
  right: 0;
  font-size: 14px;
}
.red{
  background-color: red;
  position: absolute;
  right: 0;
  font-size: 14px;
}



section{
 width: 50%;
 margin: auto;
 text-align: center;
}


.cuore{
  position: absolute;
  left: 50%;
  bottom: 2%;
  transform: translate(-50%);
  color: red;
  z-index:-1;
}
div:hover  .cuore{
  z-index: auto;
}
